.spread-table-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
}

.spread-table-pseudo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.spread-table-wrapper {
  width: 100%;
  -ms-overflow-x: scroll;
  overflow-x: scroll;
}

.spread-table {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.spread-table input {
  width: 100%;
  height: 100%;
  display: block;
}

.spread-table td,
.spread-table th {
  text-align: left;
  width: 100px;
  height: 27px;
  white-space: nowrap;
  /*  overflow: hidden;*/
  position: relative;
  z-index: 0;
}

.spread-table th {
  border: 1px dashed #a7a7aa;
  background-color: transparent;
  font-weight: normal;
}

.spread-table th:hover {
  background-image: -webkit-linear-gradient(#f8f8f8 0%, #e1e1e1 100%);
  background-image: -o-linear-gradient(#f8f8f8 0%, #e1e1e1 100%);
  background-image: linear-gradient(#f8f8f8 0%, #e1e1e1 100%);
  border: 1px solid #a7a7aa;
}

.spread-table td {
  background-color: #fff;
  border: 1px solid #cccccc;
}

.spread-table td:first-child,
.spread-table th:first-child {
  width: 30px;
}

.spread-table .left {
  text-align: left;
}

.spread-table .right {
  text-align: right;
}

.spread-table .center {
  text-align: center;
}

.spread-table .spread-table-th {
  background-color: #ddd;
  font-weight: bold;
}

.spread-table .spread-table-selected {
  background-color: #eaf2f9;
}

.spread-table-editable {
  width: 100%;
  height: 100%;
}

.spread-table-pseudo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.spread-table-menu {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #474747;
  font-size: 13px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.spread-table-menu li {
  display: block;
  font-size: 13px;
  padding: 9px 7px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.spread-table-menu li:hover {
  background-color: #ebf0f6;
}

.spread-table-header th {
  text-align: center;
  position: relative;
}

.spread-table-header .selected {
  background-color: #eaf2f9;
}

.spread-table-side.selected {
  background-color: #eaf2f9;
}

.spread-table .spread-table-side {
  text-align: center;
  position: relative;
}

.spread-table-btn-list {
  margin-bottom: 10px;
  display: table;
}

.spread-table-btn {
  display: table-cell;
  border-left: none;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  font-size: 12px;
  padding: 3px 5px;
}

.spread-table-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.spread-table-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.spread-table-toggle-btn {
  display: inline-block;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin-top: -2.5px;
  margin-left: -2.5px;
}

.spread-table-toggle-btn:after {
  content: "";
  display: block;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 5px;
  margin-left: -5px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.spread-table-header th:hover .spread-table-toggle-btn {
  border-color: #999;
}

.spread-table-first {
  width: 15px;
}

.spread-table .spread-table-border-left .spread-table-pseudo {
  border-left: 2px solid #006dec;
}

.spread-table .spread-table-border-top .spread-table-pseudo {
  border-top: 2px solid #006dec;
}

.spread-table .spread-table-border-right .spread-table-pseudo {
  border-right: 2px solid #006dec;
}

.spread-table .spread-table-border-bottom .spread-table-pseudo {
  border-bottom: 2px solid #006dec;
}

.spread-table-border-top.spread-table-border-left .spread-table-pseudo:before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  background-color: #006dec;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.spread-table-border-bottom.spread-table-border-right .spread-table-pseudo:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 6px;
  height: 6px;
  background-color: #006dec;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.spread-table-textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  line-height: 1.7;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
